<include file="Public/header" title="" />

<script src="__STATIC__/js/jquery-1.10.2.js"></script>
<script src="__STATIC__/js/laydate/laydate.js"></script>


<div id="page-wrapper">

    <div class="row">
        <div class="col-md-6">
            <a href="javascript:void(0)" class="btn btn-success">红包预下单设置</a>
        </div>
    </div>	
	
	<style>
	  #infos {
		width:100%;
		height:100%;
	  }
	  
	  #infos form {
		margin:0px;
		margin-top:20px;
		margin-left:-50px;
		padding:0px;
		width:100%;
	  }
	  
	  
	  #infos form ul {
		width:90%;
		height:auto;
		line-height:30px;
		list-style:none;
	  }
	  
	  #infos form ul li {
		margin-bottom:20px;
	  } 
	  
	  #infos form ul li input{
		width:20%;
		height:30px;
	  }
	  
	  .f {
		font-size:8px;
		color:red
	  }
	  
	</style>
	
	<script>
		function check(){
		
			var min = $("#min").val();
			var max = $("#max").val();
			if(min < 100){
				alert('最小金额不能小于100分');
				$("#min").focus();
				return；
			}
			
			return true;
		}
	</script>
	
	<div id="infos">
			
		<form action="{:U('shake/preorder')}" method="post" onsubmit="return check()">
			<ul>
				
				<li>
					<span>红包类型:</span>
					<span style="margin-left:10px;font-size:8px">普通红包</span>
					<input style="width:40px;height:15px;" type="radio" name="hb_type" value="NORMAL"> 
					<span style="font-size:8px">裂变红包 </span>
					<input style="width:40px;height:15px;" type="radio" name="hb_type" value="GROUP">
				</li>
				
				<li>
					<span>金额类型:</span>
					<span style="margin-left:10px;font-size:8px">固定金额</span> 
					<input style="width:40px;height:15px;" type="radio" name="jetype" value="gd"> 
					<span style="font-size:8px">随机金额</span>
					<input style="width:40px;height:15px;" type="radio" name="jetype" value="sj">
				</li>
				
				
				<li>
					<span>红包金额:</span>
					<input type="text" name="signle_total" placeholder="请输入金额!">  <span class="f">*(固定金额必填，最小1元，单位分)</span> 
				</li>
				
				<li>
					<span>随机金额:</span>
					<input type="text" id="min" name="min"  placeholder="最小金额(单位分)" style="width:150px;"> --
					<input type="text" id="min" name="max"  placeholder="最大金额(单位分)" style="width:150px;"> 
					
					<span class="f">*(随机金额必填，最小1元，单位分)</span> 
				</li>
				
				<li>
					<span>发放人数:</span>
					<input type="text" id="total_num" name="total_num"  placeholder="红包发放总人数">
					<span class="f">*(普通红包填1，裂变红包必须大于1)</span>
				</li>
				
				<li>
					<span>红包祝福:</span>
					<input type="text" id="wishing" name="wishing" placeholder="红包祝福语，展示在红包页面">
				</li>
				
				
				<li>
					<span>商户名称:</span>
					<input type="text" id="send_name" name="send_name"  placeholder="红包提供者名称">
				</li>
				
				<li>
					<span>活动名称:</span>
					<input type="text" id="act_name" name="act_name"  placeholder="请输入活动名称">
				</li>
				
				<li>
					<span>活动备注:</span>
					<input type="text" id="remark" name="remark"  placeholder="活动备注">
				</li>
				
				
				<li>
					<input type="hidden" name="lottery_id" value="{$lottery_id}">
					<input type="submit" id="subs"  name="subs" value="完成" style="width:10%;margin-left:60px;">
				</li>
			
			</ul>
	</form>
		
	</div>
	
	</div>

<include file="Public/footer" />