<ul class="nav navbar-nav side-nav">
<!--
    <li><a href="{:U('index/index')}"><i class="fa fa-dashboard"></i>我的公众号</a></li>
    <li class="dropdown">
        <a href="{:U('category/index')}"><i class="fa fa-reorder"></i>门店列表</a>
    </li>
    <li class="dropdown">
        <a href="{:U('device/index')}"><i class="fa fa-edit"></i> 设备列表</a>
    </li>
-->
	
	 <li class="dropdown">
        <a href="{:U('page/index')}"><i class="fa fa-file-text-o"></i> 页面管理 </a>
    </li>
	<li class="dropdown">
        <a href="{:U('shake/lists')}"><i class="fa fa-file-text-o"></i> 红包活动列表</a>
    </li>
	
    <li class="dropdown">
        <a href="{:U('shake/index')}&step=1"><i class="fa fa-users"></i> 摇一摇红包设置</a>  
    </li>
	
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 签到红包设置 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('sign/index')}">签到设置</a></li>
            <li><a href="{:U('sign/lists')}">签到列表</a></li>
        </ul>
    </li>
	
	
	<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 客户资料搜集 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('customer/index')}">红包设置</a></li>
            <li><a href="{:U('customer/lists')}">客户列表</a></li>
        </ul>
    </li>
	
	<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 摇一摇卡券 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('card/index')}">创建卡券</a></li>
            <li><a href="{:U('card/uses')}">投放卡券</a></li>
			<li><a href="{:U('card/dels')}">核销卡券</a></li>
        </ul>
    </li>
</ul>