<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>FrozenUI Demo</title>
        <link rel="stylesheet" href="./css/frozen.css">
    </head>
	<style>
		body {
			background:red
		}
	</style>
    <body ontouchstart="">
		<div class="ui-flex ui-flex-pack-center" style="margin-top:120px;font-size:2em;">
			<span  style="color:white">失落的天使</span>
			<span style="color:yellow">获得一个大红包</span>
		</div>
		
		<div class="ui-flex ui-flex-pack-center" style="margin-top:10px;font-size:2em;color:yellow">
			<div>价值198元,先抢先得</div>
		</div>
		
		
		<div class="ui-flex ui-flex-pack-center" style="margin-top:40px;line-height:40px;">
			<form action="#">
				<div>
					<span style="color:white">姓名</span>
					<input style="width:300px;height:25px" type="text" name="username">
				</div>
				
				<div>
					<span style="color:white">电话</span>
					<input style="width:300px;height:25px;" type="text" name="phone">
				</div>
			</form>
		</div>
		
		
		
		<div class="ui-flex ui-flex-pack-center ui-btn-wrap" style="margin-top:60px;">
			<button class="ui-btn-s" style="width:160px;height:40px;font-size:1em;border-color:yellow;background:yellow;">
				拆红包
			</button>
		</div>
		
        <script src="./lib/zepto.min.js"></script>
        <script src="./js/frozen.js"></script>
    </body>
</html>